body {
  font-family: sans-serif;
  background-color: #fff;
  color: #2d2d2d;
  margin: 0;
  padding: 1em;
  text-align: center;
}

table {
  font-weight: 700;
  margin-left: auto; 
  margin-right: auto;
}

table tr {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  border-bottom: 1px solid #ccc;
}

table tr:first-child {
  border-top: 1px solid #ccc;
}

table tr td {
  padding: 6px 10px;
}

table tr td:nth-child(2n) {
  background-color: #eeeeec;
}

table tr td.same ,
table tr td.up ,
table tr td.down {
  display: grid;
  grid-template-columns: 1.5em auto;
}

td.same {
  color: #777;
}

td.up {
  color: green;
}

td.down {
  color: red;
}

table tr td span.arrow {
  font-size: 1.4em;
}

table tr td span.value {
  line-height: 1.4em;
}

table tr td p {
  width: 100%;
}

table tr td:first-child {
  background-color: #fff;
  border-width: 0;
  color: #2d2d2d;
}

table tr td:first-child p {
  width: 100%;
  text-align: right;
  margin: 0;
  line-height: 1.4em;
}

table tr:first-child td {
  border-width: 0;
  color: #2d2d2d;
}

table tr:first-child td:first-child {
  color: #666;
}

table tr:first-child td:not(:first-child) p {
  width: 100%;
  text-align: center;
  margin: 0;
  line-height: 1.4em;
}

span.max, span.min { 
  color: #fff;
  padding: 4px;
  font-weight: 600;
}

span.max {
  color: green;
}

span.min {
  color: red;
}

