body {
  font-family: sans-serif;
  background-color: #fff;
  color: #2d2d2d;
  margin: 0;
  padding: 1em;
  text-align: center;
}

table#labels {
  width: 520px;
  margin-left: auto; 
  margin-right: auto;
  text-align: right;
}

table#labels tr {
  display: grid;
  grid-template-columns: auto 20px;
  column-gap: 4px;
  font-size: smaller;
  line-height: 1em;
  margin-bottom: 2px;
}

table#labels tr:nth-child(1) td:nth-child(2) {
  background-color: black;
}
table#labels tr:nth-child(2) td:nth-child(2) {
  background-color: green;
}
table#labels tr:nth-child(3) td:nth-child(2) {
  background-color: red;
}

table#values {
  width: 520px;
  font-weight: 700;
  margin-left: auto; 
  margin-right: auto;
}

table#values tr {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  border-bottom: 1px solid #ccc;
}

table#values tr:first-child {
  border-top: 1px solid #ccc;
}

table#values tr td {
  padding: 6px 10px;
}

table#values tr td:nth-child(2n) {
  background-color: #eeeeec;
}

table#values tr td.same ,
table#values tr td.up ,
table#values tr td.down {
  display: grid;
  grid-template-columns: 1.5em auto;
}

table#values tr td.same-time ,
table#values tr td.slower ,
table#values tr td.faster {
  display: grid;
  grid-template-columns: 1.5em auto;
  grid-template-rows: auto;
  grid-template-areas: 
    "arrow time"
    "ci ci";
}

table#values tr td.same-time span.arrow ,
table#values tr td.faster span.arrow ,
table#values tr td.slower span.arrow {
  grid-area: arrow;
}

table#values tr td.same-time span.value ,
table#values tr td.faster span.value ,
table#values tr td.slower span.value {
  grid-area: time;
}

table#values tr td.same-time span.ci ,
table#values tr td.faster span.ci ,
table#values tr td.slower span.ci {
  grid-area: ci;
  font-size: small;
  font-weight: normal;
}

table#values td.same, table#values td.same-time {
  color: #fff;
  background-color: #000 !important
}

table#values td.up.best, table#values td.faster.best {
  color: #fff;
  background-color: green !important
}

table#values td.down.worst, table#values td.slower.worst {
  color: #fff;
  background-color: red !important
}

table#values td.up, table#values td.faster {
  color: green;
}

table#values td.down, table#values td.slower {
  color: red;
}

table#values tr td span.arrow {
  font-size: 1.4em;
}

table#values tr td span.value {
  line-height: 1.6em;
}

table#values tr td p {
  width: 100%;
}

table#values tr td:first-child {
  background-color: #fff;
  border-width: 0;
  color: #2d2d2d;
  display: flex;
  align-items: center;
}

table#values tr td:first-child p {
  width: 100%;
  text-align: right;
  margin: 0;
  line-height: 1.4em;
}

table#values tr:first-child td {
  border-width: 0;
  color: #2d2d2d;
}

table#values tr:first-child td:first-child {
  color: #666;
}

table#values tr:first-child td:not(:first-child) p {
  width: 100%;
  text-align: center;
  margin: 0;
  line-height: 1.4em;
}

